
.pokemons{
padding-top: 2rem;
display: flex;
flex-wrap: wrap;
gap:1rem;
justify-content: center;
font-family: 'Baloo 2', cursive;;
}
.pokemon-title{
    font-family:'Silkscreen', cursive ;
    font-size: large;
    width: 75%;
    height: 7rem;
}
.pokemons>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 13rem;
    height: 15rem;
    border-radius: 10%;
  /* background-color: rgba(236, 236, 236, 0.774);  */
    box-shadow: 0 0.8em 0.8em -0.4em black;
    color:black;
    transition: all 0.4s ease-in-out;
}
.pokemons>div:hover{
    transform: translateY(-0.25em);
    box-shadow: 0 0.8em 0.8em -0.4em #44bb58;
}
.pokemons > div >h2{
    width:100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.37);
    text-transform: capitalize
}
.pokemons > div > img{
    max-height: 40%;
    max-width: 40%;
}
.pokemonNav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 20rem;
    font-family: 'Baloo 2', cursive;
    
}
.pokemon-title{
display: inline-flex;
    display:inline-flex;
}
.searchbar{
    width: 10rem;
    background-image: none;
    background-color:rgba(0, 0, 0, 0.301);
    margin-right: 2rem;
    border-radius: 20%;
    
}
.pokemonNav> button{
    width: 9em;
    margin:0 1rem;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor:pointer;
    box-shadow: 3px 3px 12px #c5c5c5,
                
                0px 0px 0px #ffffff;
   }
   
   .pokemonNav> button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .pokemonNav> button:hover::before {
    width: 9em;
   }
.pokemon-img{
   height: 12rem;
}

.normal {
    background-color: #d4b081;
    border: 8px solid #6D6D4E;
}

.fire {
    background-color: #fcb480;
    border: 8px solid #9C531F;
}

.water {
    background-color: #93b3fd;
    border: 8px solid #445E9C;
}

.electric {
    background-color: #ffde59;
    border: 8px solid #A1871F;
}

.grass {
    background-color: #a5ff77;
    border: 8px solid #4E8234;
}

.ice {
    background-color: #b0ffff;
    border: 8px solid #638D8D;
}

.ground {
    background-color: #ffdf89;
    border: 8px solid #927D44;
}

.flying {
    background-color: #bfa9ff;
    border: 8px solid #6D5E9C;
}

.ghost {
    background-color: #aa92cf;
    border: 8px solid #493963;
}

.rock {
    background-color: #f7de70;
    border: 8px solid #786824;
}

.fighting {
    background-color: #ff645c;
    border: 8px solid #7D1F1A;
}

.poison {
    background-color: #df78df;
    border: 8px solid #682A68;
}

.psychic {
    background-color: #d3708e;
    border: 8px solid #5e1e31;
}

.bug {
    background-color: #e7f850;
    border: 8px solid #6D7815;
}

.dark {
    background-color: #a88b77;
    border: 8px solid #49392F;
}

.steel {
    background-color: #c8c8d1;
    border: 8px solid #787887;
}

.dragon {
    background-color: #8b59ff;
    border: 8px solid #4924A1;
}
.fairy {
    background-color: #f7729a;
    border: 8px solid #A13959;
}