 .menu{
/* grid-gap:3rem;
padding: 8rem;
overflow: hidden;
  display: grid;
  grid-template-columns:  250px 250px 250px;
grid-template-rows:
250px
250px;
grid-template-areas: 
"pokeApi quizArea hangman"
". . ."
} */
display:flex;
justify-content: center;
align-items: center;
gap:3rem;
flex-wrap: wrap;}
.hola{
    font-size: larger;
    text-align: center;
    font-family: 'Baloo 2', cursive; 
}

.pokeapi{
/* grid-area: pokeApi; */
height: 250px;
width: 250px;
background-color: rgb(39, 221, 94);
color:rgb(252, 232, 168);
font-family: 'Satisfy', cursive;
font-size: 2rem;

  padding: 1rem;
  border: 2px solid black;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  box-shadow: 6px 6px 6px black ;
 
} 
.pokeapi:hover{
background-image: url("https://down.imgspng.com/download/0720/pokemon_logo_PNG12.png");
background-size:80% cover;
background-position:top;
background-repeat: no-repeat;
font-size: xx-large;
font-weight: 600;
padding-top:13rem
}

.quiz{
 /*  grid-area: quizArea; */
 height: 250px;
width: 250px;
  background-color: rgb(255, 0, 140);
  font-family: 'Satisfy', cursive ;
  font-size: 2rem;
  color:rgb(252, 232, 168);
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  box-shadow: 6px 6px 6px black ;
 
} 
.quiz:hover{
background-image: url("https://res.cloudinary.com/ddtufnl04/image/upload/v1666441790/quiz_1_uirklm.png");
background-size:80%;
background-position: center;
background-repeat: no-repeat;
font-size: xx-large;
font-weight: 600;
padding-top:13rem
}

.hangman{
    /* grid-area: hangman; */
    height: 250px;
    width: 250px;
    background-color: rgb(0, 60, 255);
    font-family: 'Satisfy', cursive ;
    font-size: 2rem;
    color:rgb(252, 232, 168);
    padding: 1rem;
    border: 2px solid black;
    border-radius: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    box-shadow: 6px 6px 6px black ;
   
  } 
  .hangman:hover{
  background-image: url("https://res.cloudinary.com/ddtufnl04/image/upload/v1666562330/1038619666_width_178_height_178_maajki.png");
  background-size:80%;
  background-position: top;
  background-repeat: no-repeat;
  font-size: xx-large;
  font-weight: 600;
  padding-top:13rem
  }



@media (max-width: 600px){
  .menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
  }
  .menu button{
    min-height: 150px;
    min-width: 150px;
  }

}