header{
    display: flex;
    gap: 1rem;
}
#themeBtn{
    margin-top: 1rem;
    background-color: transparent;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px black ;
}